<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/community.css">
    <title>Community_List</title>
  </head>
  <body>
    <header>
      <div class="header_top">
          <ul>
              <li><a href="/board/employ_infor">채용정보</a></li>|
              <li><a href="/board/expertprofile">컨설턴트</a></li>|
              <li><a href="/board/notice">공지사항</a></li>
          </ul>
          <ul class="login_register">
            <li><a href="/user/mypage">마이페이지</a></li>
            <li><a href="/">로그아웃</a></li>
          </ul>
      </div>
      <div class="header_bottom">
          <div class="logo">
              <h1><a href="/"><img src="../public/img/logo.png" alt="logo"></a></h1>
          </div>
          <div class="sub_title">
              <h1>커뮤니티</h1>
          </div>
      </div>
    </header>

    <div class="community_content content">
        <div class="content_header row">
          <span>커뮤니티</span>
          <form class="content_communitySearchForm">
            <input type="text" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </form>
        </div>
        <div class="content_community">
          <div class="write-click">
            <a href="/board/write_community">작성</a>
          </div>
          <div class="community_header">
            <span class="date">날짜</span>
            <span class="title">제목</span>
            <span class="writer">작성자</span>
            <span class="views">조회수</span>
          </div>
          <ul id="postList" class="community_list">
            <!-- 게시글 링크 클릭 시 해당 페이지 이동(URL 설정) -->
              <% posts.forEach(function(post) { %>
                <li class="community_list">
                  <a href="/board/community/<%= post.idx %>" onclick="increaseView(<%= post.idx %>)">
                    <span class="date"><%= post.writedate %></span>
                    <span class="title"><%= post.subject %></span>
                    <span class="writer"><%= post.name %></span>
                    <!-- 조회수 필드 추가 -->
                    <span class="views" id="views_<%= post.idx %>"><%= post.views %></span>
                  </a>
                </li>
              <% }); %>
          </ul>
        </div>
      </div>
      <div class="dim" id="dim"></div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>

      // 클릭시 조회수 증가
      function increaseView(postIdx) {
        $.ajax({
          type: "POST",
          url: `/board/community/${postIdx}/increaseView`,  // 서버 측 라우터 URL
          success: function (res) {
            // 서버에서 조회수 업데이트가 성공적으로 처리되면 페이지 이동
            window.location.href = `/board/community/${postIdx}`;
          },
          error: function (err) {
            console.log("조회수 증가 오류", err);
          },
        });
      }
      

    </script>

  </body>
</html>
