<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>My page</title>
  </head>
  <body>
    <header>
      <div class="header_top">
          <ul>
              <li><a href="/board/community">커뮤니티</a></li>|
              <li><a href="/board/works_cited">참고문헌</a></li>|
              <li><a href="/board/AI_consult">AI 컨설팅</a></li>|
              <li><a href="/board/notice">공지사항</a></li>
          </ul>
          <ul class="login_register">
                <li><a href="/user/mypage_login">마이페이지</a></li>
                <li><a href="/">로그아웃</a></li>
          </ul>
      </div>
      <div class="header_bottom">
          <div class="logo">
              <h1><a href="/"><img src="../public/img/logo.png" alt="logo"></a></h1>
          </div>
          <div class="sub_title">
              <h1>마이 페이지</h1>
          </div>
      </div>
  </header>

    <div class="content">
      <div class="mypage_profile col">
        <img class="profile_avatar" id="previewImage" src="" alt="preview Image" />
        <button id="uploadBtn">이미지 업로드</button>
        <input type="file" id="fileInput" accept="image/jpg, image/jpng, image/jpeg, image/png" />
        <br />
        <!-- 로그인된 사용자 이름 받기 --> 
        <span style="font-size: 20px"><!--<%= userId %>--></span>
        <br />
        <!--
        <p style="padding: 5px; border: 1px solid black">
        </p>
        <br />
        -->
        <span style="font-size: 18px">-자기소개서 보관함-</span>
        <div class="profile_cvContainer">
          <ul class="profile_cvContainer_ul">
            <% posts.forEach(function(post)  { %>
              <li><button id="loadCVButton" class="cvList" data-idx="<%= post.idx %>">
                <span><%= post.idx %></span><span>✏️</span>
              </button></li>
            <% }); %>
          </ul>
        </div>
      </div>

      <div class="mypage_cv col">
        <span
          style="
            font-size: 30px;
            padding: 10px;
            border-radius: 10px;
            background-color: thistle;
            color: white;
          "
          >나의 자기소개서</span
        >
        <br />
        <span class="cv_title"><%= posts[0].idx %></span>
        <label for="cv_1">1. 지원동기 및 입사 후포부</label>
        <textarea class="cv_content" name="" id="cv_1">
          <%= posts[0].text_1 %>
        </textarea>
        <span id="characterCount">0/400</span>

        <label for="cv_2">2. 경험(성장과정, 직무관련 경험 등)</label>
        <textarea class="cv_content" name="" id="cv_2">
          <%= posts[0].text_2 %>
        </textarea>
        <span id="characterCount">0/400</span>

        <label for="cv_3">3. 성격의 장단점</label>
        <textarea class="cv_content" name="" id="cv_3">
          <%= posts[0].text_3 %>
        </textarea>
        <span id="characterCount">0/400</span>

        <label for="cv_4">4. 직무역량</label>
        <textarea class="cv_content" name="" id="cv_4">
          <%= posts[0].text_4 %>
        </textarea>
        <span id="characterCount">0/400</span>
        <br />
        <div class="cv_btn">
          <button class="cv_saveBtn">수정 및 저장</button>
        </div>
      </div>
    </div>


    <script>

      document.querySelectorAll('.cvList').forEach((button) => {
    button.addEventListener('click', function () {
    const idx = this.getAttribute('data-idx');

    // 서버로 idx 전송
    fetch(`/getCVContent?idx=${idx}`)
    .then((response) => response.json())
    .then((data) => {
      document.getElementById('cv_1').value = data.text_1;
      document.getElementById('cv_2').value = data.text_2;
      document.getElementById('cv_3').value = data.text_3;
      document.getElementById('cv_4').value = data.text_4;
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });
});


    </script>

  </body>
</html>