<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head.ejs")%>
  <body>
    <%-include("partials/main_header.ejs")%>
    <a href="/board/upload">글쓰기</a>

    <div style="display: flex; flex-direction: column; border: 1px solid black">
      <div style="display: flex; justify-content: space-between">
        <span>날짜</span>
        <span>작성자</span>
        <span>제목</span>
        <span>추천수</span>
        <span>조회수</span>
      </div>
      <% freeboards.forEach(freeboard=>{%> 
      <div style="display: flex;
      justify-content: space-between; cursor: pointer"
      onclick="location.href=`/board/freeboard/+<%= freeboard.id %>`" >
      <span><%=freeboard.date%></span>
      <span><%=freeboard.writer%></span>
      <span><%=freeboard.title%></span>
      <span><%=freeboard.like%></span>
      <span><%=freeboard.views%></span>
      <%}) %>
    </div>

    <%-include("partials/footer.ejs")%>
  </body>
</html>
