<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head.ejs")%>
  <body>
    <%-include("partials/main_header.ejs")%>
    <h1>내용------------------------------</h1>
    <h2>자유게시판</h2>
    <div style="display: flex; flex-direction: column; border: 1px solid black">
      <div style="display: flex; justify-content: space-between">
        <span>날짜</span>
        <span>작성자</span>
        <span>제목</span>
        <span>추천수</span>
        <span>조회수</span>
      </div>
      <div style="display: flex; justify-content: space-between">
        <span><%= freeboard[0].freeboard_date %></span>
        <span><%= freeboard[0].freeboard_writer %></span>
        <span><%= freeboard[0].freeboard_title %></span>
        <span><%= freeboard[0].freeboard_like %></span>
        <span><%= freeboard[0].freeboard_views %></span>
      </div>
    </div>
    <h1>------------------------------</h1>
    <%-include("partials/footer.ejs")%>
  </body>
</html>
